

.zap {
  text-align: left;
}

.a {
  text-align: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(29, 149, 149); /**/
    text-align: right;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(0, 102, 102);
}

html{
  background-color: black; /*rgb(98, 194, 194)*/
}

img {
  z-index: -1;
}
/* hover shit */
.containerteam {
    background-color: rgb(29, 149, 149);
    font-family: ;
}

.containerteam a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.containerbibliography {
    background-color: rgb(29, 149, 149);
    font-family: ;
}

.containerbibliography a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.containercreation {
    background-color: rgb(29, 149, 149);
    font-family: ;
}

.containercreation a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.containergame {
    background-color: rgb(29, 149, 149);
    font-family: ;
}

.containergame a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 102, 102);;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 102, 102);
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.team {
 font-family: 'Roboto', sans-serif;
}

.game {
 font-family: 'Roboto', sans-serif;
}

.creation {
 font-family: 'Roboto', sans-serif;
}

.logo {
 font-family: 'Roboto', sans-serif;
 }

.faqs {
 font-family: 'Roboto', sans-serif;
}

.bibliography {
  font-family: 'Roboto', sans-serif;
}
